body, html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: lightblue;
}
/*Quick CSS Classes*/
.bb { border: 1px solid black; }
.bgg { background-color:rgba(59, 59, 56, .8) }
.pt { 
  padding-top: 70px; /*offsets navbar*/
  padding-bottom: 15px;
} 
.full {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
/*Main Background container*/
#background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color:darkcyan;
  background-image: url(../images/mobileBg.webp);
  background-size: fill;
  background-repeat: no-repeat;
}
/*Hides Background on */
#background-video, 
#timeBox { 
  display: none;
}
/*************************************
  Navbar CSS (mobile)
*************************************/
/*NavbarCSS defaulting to mobile*/
.navbar {
  height: auto; /*Dynamic sizing for mobile*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
  background: rgb(59, 59, 56);
}
.navbar a {
  text-decoration: none;
  color: white;
  margin: 5px;
}
label{
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 26px;
}
.navUrl { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu, 
#toggle { display: none; }

#toggle:checked + .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*************************************
  Hero Section (Mobile)
*************************************/
#heroContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}
#heroContent p{
  margin: 0 0 5px 0;
  padding: 0;
}
#heroContent .mobile{
  font-size: 12px;
}

/*************************************
  About Section (Mobile)
*************************************/
#aboutSection { 
  display: flex;
  flex-direction: column-reverse;
  width: 94%;
  
}
#aboutMain h1{ padding: 10px }
.right, .left { 
  padding: 4px; }

.left { 
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.top, .bottom {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#headshot {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  object-fit: fill;
  overflow: hidden;
}
#headshot img{
  border: 1px solid black;
}
.modalImage{display: none;}

/***************************************************
  Projects Section (Mobile)
***************************************************/
#projects {
  overflow: auto;
  background-color: lightblue;
}
#projects h1{ 
  padding: 2px 5px;
  margin-bottom: 0;
}
#projectsBody {
  height: auto;
  min-height: 70vh;
  object-fit: contain;
  padding: 5px;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.projectCard {
  width: 325px;
  max-height: 75px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: slategray;
  color: black;
  overflow: hidden;
  border-radius: 5px;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectCard h2 {
  margin: 5px 0;
  text-decoration: underline;
  font-size: 22px;
}
.buttonCont {
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  /* align-items: flex-end  ; */
}
.projectCard button {
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(59, 59, 56, .9);
  color: white;
  width: 20%;
  height: 2rem;
}
button:hover {
  background: black;
  color: white;
}

/*************************************
  Footer Section (Mobile)
**************************************/
footer {
  display: flex;
  flex-direction: row;
  background: slategray;
  width: 100%;
  height: auto;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(59, 59, 56);
  color: white;
  overflow: hidden;
}

/*************************************
  ScrollUp box (Mobile)
*************************************/
.scrollUp a { 
  text-decoration: none; 
  color: lightgray;
}
.scrollUp{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 2;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: black;
  font-size: 36px;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
}
.scrollUp a:hover { color: black;}
.scrollUp:hover{ background-color: lightgray; }
/*************************************
  Media query for non-cell phones
*************************************/
@media only screen and (min-width: 900px) {
  .full { flex-direction: row; }
  label { display: none }
  /*************************************
      Navbar CSS (PC)
  *************************************/
  .navOpt:hover, #timeBox:hover {
      color: green;
      transition: 0.4s ease-in;
  }
  #title:hover{
      color:royalblue;
      transition: 0.3s ease-in;
  }
  .navbar{ 
      flex-direction: row;
      height: 70px;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;    
      padding-left: 20px;
  }
  .navUrl{flex-direction: row;}
  .menu{ 
      display: flex;
      margin-left: 5px;
  }
  .menu a { margin: 5px; }
  #timeBox {
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  #time { padding-right: 40px; }

  /***************************************************
      Projects Section (PC)
  ***************************************************/
  #projects {
      flex-direction: column;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
  }
  .projectCard { opacity: 70%;}
  .projectCard:hover {
      opacity: 100%;
      transition: .2s ease-in;
      background: #d2b48c;
  }

  /***************************************************
      Scrollbar CSS
  ***************************************************/
  /* Scrollbar Styling */
  ::-webkit-scrollbar { width: 50px; }
  /* Track */
  ::-webkit-scrollbar-track { border-radius: 10px; }
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: none; 
      background-position: center;
      background-repeat: no-repeat;
  }
  body { overflow: overlay; } /*allows the content to spill into the area reserved for the scrollbar*/
}