:root {
  --color-a: #138D80;
  --color-b: #4D5051; 
  --color-c: #A5CED4;
  --color-d: #129A89;
  --color-accent: #ff6e07;
  --header-color: #0B4F6C;
  --background-color: #E9EAEB;
  --underline: #d357f6;
  --footer-color: #0B4F6C;
  --nav-text: #FFF;  
  --schedule-heading: azure;
  --schedule-a: #8eb4f9;
  --schedule-b: #9fc6f2;
}

#teamBio {
  background-color: var(--background-color);
}

.hr-a, .hr-b {
  background-color: var(--background-color);
}

hr {
  width: 100%;
  margin: 3em 33%;
  background: black;
  background-color: black;
  border: 1px solid black;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: black;
  background-color: var(--background-color);
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
}
.hr-a, .hr-b {
  width: 100%;
  margin: 0pt auto;
  display: flex;
}
.pt { 
  padding-top: 70px; /*offsets navbar*/
  padding-bottom: 15px;
} 
.full {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
label {
  font-size: 24pt;
  padding: 5px;
  margin-right: 20px;
}
.navUrl ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.navUrl ul li {
  width: 100dvw;
  min-height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5pt;
  margin: 0;
  font-size: 16pt;
}

.navOpt:hover {
  transform: scale(1.1);
}

a:hover {
  cursor: pointer;
}
.navbar .navCurrentPage {
  font-weight: bold;
  color: var(--schedule-b);
}
/*************************************
  Navbar CSS (mobile)
*************************************/
/*NavbarCSS defaulting to mobile*/
.navbar {
  margin: 0;
  padding: 10px;
  height: auto; /*Dynamic sizing for mobile*/
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-color);
  border-bottom: 2px solid black;
}

.titleLink {
  margin-right: 15px;
}

.navbar a {
  text-decoration: none;
  color: var(--nav-text);
  padding: 10px;
}

.menu, 
#toggle { display: none; }

.menu {
  top: 70px;
  left: 0;
  position: absolute;
}

#title {
  margin: 0;
  color: var(--nav-text);
  text-align: center;
  font-size: 1.5em;
  overflow: hidden;
  font-family: 'Roboto', 'sans-serif';
  font-weight:400;
  padding: 0 5pt;
}

@media only screen and (max-width: 322px) {
  .menu {
    top: 95px;
  }
}

/***************************************************
  Logo section
****************************************************/
#logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  overflow: contain;
  background-color: inherit;  
}

.logoContainer {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow:hidden;
  align-items: center;
  min-height: 50dvh;
  object-fit: scale-down;
  padding-top: 25dvh;
}
.logoContainer img {
  width: 100dvw;
  max-width: 275pt;
}
.bannerTitle {
  font-family: 'Roboto', 'sans-serif';
  text-align: center;
  font-size: 3.5em;
  color: #F1F1F1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 100%;
  font-weight: bold;
}
/*************************************
  Greeting Section
*************************************/
#greetingSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  width: 100%;
  height: auto;
  padding: 20pt 0;
  background: inherit;
}
.greetingContainer {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.greetingContainer h2 {
  width: 100%;
  text-align: center;
}
.greetingContainer p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
  padding: 0 10px;
  margin: 5px 0;
}
blockquote {
  font-style: italic;
  font-size: 16pt;
}
figcaption {
  width: 80%;
  font-weight: 700;
  text-align: right;
}
/***************************************************
  Projects Section (Mobile)
***************************************************/
#projects {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: inherit;
  background-size: contain;
}
#projects h1{ 
  padding: 2px 5px;
  margin-bottom: 0;
}
#projectsBody {
  height: auto;
  min-height: 70vh;
  object-fit: contain;
  padding: 5px;
  margin-bottom: 2em;
  width: 95%;
  max-width: 1100pt;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  overflow: contain;
}
.projectCard h3 {
  font-size: 18pt;
  margin: 0;
}
.projectCard {
  width: 325px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: linear-gradient(to bottom right, white, rgb(138, 146, 153));
  color: black;
  overflow: hidden;
  margin: 1em;
  border-radius: 8pt;
  box-shadow: black 2pt 1pt;
  /* transform: scale(0.9); */
  border-left: 1px solid var(--header-color);
}
.projectTitle {
  font-size: 30pt;
  margin: 0 0 1em 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.projectCard .imgCont {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 8pt;
  max-height: 200px;
  max-width: 325px;
  overflow: hidden;
  object-fit: contain;
}
.projectCard .imgCont img {
  object-fit: scale-down;
}
.contentText {
  display: flex;
  margin: 8pt;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contentText p {
  max-height: 110px;
  overflow-y: scroll;
}
.contentText p {
  margin: 0;
}
.projectCard h2 {
  margin: 0;
  padding: 5pt 0;
  font-size: 18pt;
}
.buttonCont {
  display:flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  padding: 8pt;
  background-position-x: 90%;
  background-position-y: 0%;
  margin-top: auto;
}
.gear-item {
  height: 45px;
  filter: drop-shadow(1px 3px 1px black);
}
.buttonCont button {
  border: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  color: blue;
  font-weight: 600;
  font-size: 14pt;
  width: auto;
  padding: 0;
  margin: 0;
  outline: none;
  filter: none;
}
.projectCard:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color:#e0e0e0;
}
button:hover {
  cursor: pointer;
}
/*************************************
  Footer Section (Mobile)
**************************************/
footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--footer-color);
  min-height: 70px;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
  padding: 10px 20px;
}
footer p {
  padding: 2px;
  margin: 0;
  font-size: 14px;
}
footer img {
  height: 70px;
  object-fit: scale-down;
}
footer input {
  width: 55pt;
  height: 25pt;
  border: 1px solid black;
  border-radius: 5px;
}
footer input:hover {
  cursor: pointer;
}
@media only screen and (max-width: 899px) {
  .navUrl ul li:nth-child(even) {background-color: #366c83}
  .navUrl ul li:nth-child(odd) {background-color: #366072}
  #toggle:checked + .menu {
    display: block;
  }
}

/*************************************
  Media query for non-cell phones
*************************************/
@media only screen and (min-width: 900px) {
  .full { flex-direction: row; }
  label { display: none }
  #title {
    width: auto;
    text-align: left;
  }
  .bannerTitle{
    width: auto;
  }
  .logoContainer {
    flex-direction: row;
    max-width: 750pt;
  }
  .navUrl ul li {
    margin: 5pt 0;
  }
  /*************************************
      Navbar CSS (PC)
  *************************************/
  .navbar{ 
      flex-direction: row;
      height: 70px;
      justify-content: left;
      align-items: center;
      padding: 5px 20px;
      color: black;
      box-shadow: 0px 2px;
  }
  .navUrl{flex-direction: row;}
  .menu{ 
      display: flex;
      position: static;
  }
  .navUrl ul li {
    width: auto;
  }
  /***************************************************
      Projects Section (PC)
  ***************************************************/
  #projects {
      flex-direction: column;
  }
  /***************************************************
      Scrollbar CSS
  ***************************************************/
  /* Scrollbar Styling */
  ::-webkit-scrollbar { width: 0px; }
  /* Track */
  ::-webkit-scrollbar-track { border-radius: 10px; }
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: none; 
      background-position: center;
      background-repeat: no-repeat;
  }
  body { overflow: overlay; } /*allows the content to spill into the area reserved for the scrollbar*/
}
