body, html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}
h2 {
  color: black;
}
/*Quick CSS Classes*/
.bb { border: 1px solid black; }
.bgg { background-color:rgba(59, 59, 56, .8) }
.pt { 
  padding-top: 70px; /*offsets navbar*/
  padding-bottom: 15px;
} 
.full {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
label {
  font-size: 24pt;
}
.navUrl ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.navUrl ul li {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 16pt;
}


.navUrl ul li:hover {
  background-color: rgb(28, 128, 14);
}
a:hover {
  cursor: pointer;
}
.navbar .navCurrentPage {
  color: rgb(221, 80, 24);
}
/*************************************
  Navbar CSS (mobile)
*************************************/
/*NavbarCSS defaulting to mobile*/
.navbar {
  margin: 0;
  height: auto; /*Dynamic sizing for mobile*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: #93BE37;
}
.navbar a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}
.navUrl { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu, 
#toggle { display: none; }
#title {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden;
}
#toggle:checked + .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/***************************************************
  Projects Section (Mobile)
***************************************************/
#projects {
  overflow: auto;
  background-color: rgb(148, 148, 148);
}
#projects h1{ 
  padding: 2px 5px;
  margin-bottom: 0;
}
#projectsBody {
  height: auto;
  min-height: 70vh;
  object-fit: contain;
  padding: 5px;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.projectCard {
  width: 325px;
  max-height: 450px;
  padding: 0;
  /* margin: 5px; */
  background: white;
  color: black;
  overflow: hidden;
  border-radius: 8pt;
  box-shadow: rgb(194, 194, 194) 4pt 2pt;
  transform: scale(0.9);
  border-left: 1px solid rgb(194,194,194);
  border-bottom: 1px solid rgb(194,194,194);
}
.projectCard .imgCont {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 8pt;
  max-height: 200px;
  max-width: 325px;
  overflow: hidden;
  object-fit: contain;
  
}.contentText {
  display: flex;
  margin: 8pt;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contentText p {
  margin: 0;
}
.projectCard h2 {
  margin: 0;
  padding: 5pt 0;
  font-size: 18pt;
}
.buttonCont {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8pt;
}
.projectCard button {
  border: none;
  font-family: 'Open Sans', sans-serif;
  background-color: inherit;
  color: blue;
  font-weight: 600;
  font-size: 14pt;
  width: auto;
  padding: 0;
  margin: 0;
  height: 2rem;
}
.projectCard:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color:#e0e0e0;
}
button:hover {
  cursor: pointer;
}
/*************************************
  Footer Section (Mobile)
**************************************/
footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  background: slategray;
  min-height: 70px;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #5A5A5A;
  color: white;
  overflow: hidden;
  padding: 10px 20px;
}
footer p {
  padding: 2px;
  margin: 0;
  font-size: 14px;
}
footer img {
  height: 70px;
  object-fit: scale-down;
}
footer input {
  width: 55pt;
  height: 25pt;
  border: 1px solid black;
  border-radius: 5px;
}
@media only screen and (max-width: 899px) {
  .navUrl ul li:nth-child(even) {background-color: #93968c;}
  .navUrl ul li:nth-child(odd) {background-color: #70726e;}
}
/*************************************
  Media query for non-cell phones
*************************************/
@media only screen and (min-width: 900px) {
  .full { flex-direction: row; }
  label { display: none }
  #title {
    width: auto;
    text-align: left;
  }
  /*************************************
      Navbar CSS (PC)
  *************************************/

  .navbar{ 
      flex-direction: row;
      height: 70px;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;    
      padding-left: 20px;
      color: black;
      box-shadow: 4px 2px;
  }
  .navUrl{flex-direction: row;}
  .menu{ 
      display: flex;
  }
  .navUrl ul li {
    width: auto;
  }
  /***************************************************
      Projects Section (PC)
  ***************************************************/
  #projects {
      flex-direction: column;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
  }
  /***************************************************
      Scrollbar CSS
  ***************************************************/
  /* Scrollbar Styling */
  ::-webkit-scrollbar { width: 50px; }
  /* Track */
  ::-webkit-scrollbar-track { border-radius: 10px; }
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: none; 
      background-position: center;
      background-repeat: no-repeat;
  }
  body { overflow: overlay; } /*allows the content to spill into the area reserved for the scrollbar*/
}
