

#sponsor {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.sponsorIntro {
    display: flex;
    flex-direction: column;
    max-width: 900pt;
    padding: 10pt;
}

.sponsorIntro p {

}
.platinum{background-color: rgba(229, 228, 226, 0.9) !important;}
.gold{background-color: rgba(255,223,0,0.2) !important;}
.silver{background-color: rgba(192,192,192,0.35) !important;}
.bronze{background-color: rgba(176,141,87,0.2) !important;}

#sponsorsBody, #financialSponsors {
    height: auto;
    min-height: 70vh;
    object-fit: contain;
    width: 100%;
    max-width: 1000pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 20px;
}

.sponsorCard, .financialSponsorCard {
    width: 400px;
    max-height: 325px;
    padding: 0;
    background: white;
    color: black;
    border-radius: 8pt;
    box-shadow: rgb(194, 194, 194) 4pt 2pt;
    transform: scale(0.97);
    border-left: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
}

.financialSponsorCard {
    width: 400pt;
}
.eventSponsTitle {
    font-size: 30pt;
    text-align: center;
    margin-top: auto;
    margin: 1em 0 1em 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#eventSponsors {
    margin-top: 3em;
}
#sponsor4 .imgCont {
    background-color: #E1CFC6;
}
.sponsorCard .imgCont, .financialSponsorCard .imgCont {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 8pt;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
}

.financialSponsorCard .imgCont {
    max-width: 400pt;
}

.sponsorCard .imgCont img, .financialSponsorCard .imgCont img {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 8pt;
    max-height: 200px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    object-fit: contain;
}
.financialSponsorCard .imgCont img {
    max-width: 350pt;
}
.sponsorCard h2, .financialSponsorCard h2 {
    margin: 0;
    padding: 5pt 0;
    font-size: 18pt;
}

.contentTextTitle h2 {
    display: block;
    text-align: center;
}

.buttonCont {
    display:flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 8pt;
    background-position-x: 90%;
    background-position-y: 0%;
    margin-top: auto;
  }

.sponsorCard button, .financialSponsorCard button {
    border: none;
    font-family: 'Open Sans', sans-serif;
    background-color: inherit;
    color: gray;
    font-weight: 600;
    font-size: 14pt;
    width: auto;
    padding: 0;
    margin: 0;
    height: 2rem;
}

.sponsorCard:hover, .financialSponsorCard:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #e0e0e0 !important;
}

button:hover {
    cursor: pointer;
}
