p {
    margin-block-start: 0;
}

#sponsor {
    background-color: inherit;
    flex-direction: column;
    padding-top: 100px;
}

#sponsorsBody {
    height: auto;
    min-height: 70vh;
    object-fit: contain;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 20px;
}

.sponsorCard {
    width: 400px;
    max-height: 325px;
    padding: 0;
    background: white;
    color: black;
    border-radius: 8pt;
    box-shadow: rgb(194, 194, 194) 4pt 2pt;
    transform: scale(0.97);
    border-left: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
}

.sponsorTitle {
    font-size: 30pt;
    margin-top: auto;
    margin-bottom: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sponsor4 .imgCont {
    background-color: #E1CFC6;
}
.sponsorCard .imgCont {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 8pt;
    height: 200px;
    max-width: 400px;
    overflow: hidden;
    object-fit: contain;

}

.sponsorCard .imgCont img {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 8pt;
    max-height: 200px;
    max-width: 400px;
    overflow: hidden;
    object-fit: contain;

}
.sponsorCard h2 {
    margin: 0;
    padding: 5pt 0;
    font-size: 18pt;
}

.contentTextTitle h2 {
    display: block;
    text-align: center;
}

.buttonCont {
    display:flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 8pt;
    background-position-x: 90%;
    background-position-y: 0%;
    margin-top: auto;
  }

.sponsorCard button {
    border: none;
    font-family: 'Open Sans', sans-serif;
    background-color: inherit;
    color: gray;
    font-weight: 600;
    font-size: 14pt;
    width: auto;
    padding: 0;
    margin: 0;
    height: 2rem;
}

.sponsorCard:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #e0e0e0;
}

button:hover {
    cursor: pointer;
}
